* {
  box-sizing: border-box;
}

.headerImage {
  border-radius: 50%;
  align-self: center;
}

.nameHeader {
  align-self: center;
}

.headshotHeader {
  margin-top: 10%;
}

.navButtons {
  margin-top: 2%;
}

.section {
  margin-top: 10%;
}

.subSection {
  margin-top: 2%;
}

